node_modules/
package-lock.json
.env
.DS_Store

# Visual Studio
.vs/
bin/
obj/

# Banco / cache
*.sqlite
*.db

# Arquivos do VS
*.suo
*.user
*.cache

# Indexação / Copilot
CopilotIndices/
FileContentIndex/
DesignTimeBuild/
.v18/